options = --no-encryption --asynchronous-upload
nicelevel = 15

[gpg]
password = unused

[source]
## files to include in the backup
include = {SRC}

######################################################
## destination section
## (where the files are copied to)

[dest]
## how many days of incremental backups before doing a full backup again ;
## default is 30 days (one can also use the time format of duplicity).
## if increments = keep, never automatically perform a new full backup ; 
## only perform incremental backups.
##
## Default:
increments = 10

## how many days of data to keep ; default is 60 days.
## (you can also use the time format of duplicity)
## 'keep = yes' means : do not delete old data, the remote host will take care of this
##
## Default:
keep = 30

## full destination URL, in duplicity format; if set, desturl overrides
## sshoptions, destdir, desthost and destuser; it also disables testconnect and
## bandwithlimit. For details, see duplicity manpage, section "URL FORMAT", some
desturl = rsync://{USER}@{HOST}:{PORT}::{DEST}
ftp_password = {PASS}
