[Unit]
Description=Flexbackup manager timer

[Timer]
# Daily at 1am
OnCalendar=*-*-* 01:00:00
Persistent=True
Unit=flexbackup-manager.service

[Install]
WantedBy=basic.target
